@use '../custom' as *;

.application {
    // background-color:  #b2d9ec;
    height: 50vh;
    align-items: center;
    justify-content: center;

    .application-item {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        border-radius: 12px;
        text-align: center;
        justify-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 50px;

        &:hover {
            background-color: $primary;
            color: #000;
            border: 0;
        }

        a {
            color: #fff;

            &:hover {
                color: #000;
            }
        }
    }
}