@use '../custom' as *;


.footer-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}

.footer-items li {
    list-style: none;
}

.footer-items li a {
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 4px;
    color: $white;

    &:hover{
        background-color: #7898;
        color: $primary;
    }

    &:active{
        background-color: $white;
    }
}

