@use '../custom' as *;

.footer-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}

.footer-items li{
    list-style: none;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 4px;

    &:hover{
        background-color: #7898;
        color: $black;
        border-bottom: 37px sold $primary;
    }

    &:active{
        background-color: $primary;
    }
}

