@use '../../scss/custom' as *;

.input-bg {
    background-color: #E5E5E5;
    border: 1px solid $black;
    border-radius: 12px;
}

.text-black {
    color: $black;
}

.dnate-info {
    margin-top: 10px;
    border-radius: 12px;
}